/**
 * The following styles get applied inside the editor only.
 *
 * Replace them with your own styles or remove the file completely.
 */

.wp-block-create-block-jotform-form-builder {
	border: 1px dotted #f00;
	background-color: darkviolet;
}

.jotform-icon{
	width: 2em;
	height: 2em;
	margin-right: 1em;
	margin-top: 0.5em;
	margin-left: 0.5em;
}
